@import-normalize;

.displayBox {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.flexContainer {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
}

.displayMeta {
    margin-left: 20px;
    font-family: Roboto, Arial, sans-serif;
}

.displayTitle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.displayTags {
    font-size: 14px;
}